    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>
    <h1>List of users</h1>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th></th>
  </tr>
<% @all_users.each do |the_user| %>
  <tr>
    <td>
      <%= the_user.id %>
    </td>

    <td>
      <%= the_user.username %>
    </td>

    <td>
      <a href="/users/<%= the_user.username %>">Show details</a>
    </td>
  </tr>
  <% end %>